
.foo_color(@color_name, @color) {
  each(@color, {
    @is-base: boolean(@key = base);

    & when (@is-base = true) {
      .@{color_name} {
        background-color: @value !important;
      }
      .@{color_name}-text {
        color: @value !important;
      }
    }

    & when (@is-base = false) {
      .@{color_name}.@{key} {
        background-color: @value !important;
      }
      .@{color_name}-text.text-@{key} {
        color: @value !important;
      }
    }
  })
}

each(@colors, {
  .foo_color(@key, @value)
})

each(@shades, {
  .@{key}{
    background-color: @value !important;
  }
  .@{key}-text {
    color: @value !important;
  }
})
