/* https://ehkoo.github.io/semantic-ui-examples/navbar/ */

.ui.navbar {
	margin-top: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

@media (max-width: 767px) {
  	.ui.inverted.navbar{
	}
}

.ui.vertical.menu{
	margin-top: 50px !important;
	width: 100%;
	display: none;
}

