// -- -- -- -- --
// _list.less

.widget-list {
  font-size: 13px !important;
}

.widget-list .item:hover {
  background: @yellow[lighten-2];
}

.widget-list .item:hover:before{
  color: @yellow[base];
}

