
// gap main and aside

.blog {
  padding: 10px;
}
.widget {
  padding: 10px
};
// decoration

main.column,
aside.column {
  padding: 0 !important;
}
.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}
// responsive

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media (min-width: 723px) {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1127px) {
  .main-wrapper {
    margin-left: 0px;
  }
  .aside-wrapper {
    margin-right: 0px;
  }
}
