/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#base-layout {
  flex: 1 0 auto;
}
/* https://ehkoo.github.io/semantic-ui-examples/navbar/ */
.ui.navbar {
  margin-top: 0px !important;
}
.padding-reset {
  padding: 0px !important;
}
.ui.vertical.menu {
  margin-top: 50px !important;
  width: 100%;
  display: none;
}
/* own custom */
.maxwidth {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 723px) {
  .maxwidth {
    max-width: 1366px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #2196F3;
}
#base-layout {
  padding-top: 5rem;
}
#site-footer {
  padding-top: 3rem;
}
.blog {
  padding: 0px;
}
.blog-header {
  padding: 5px 10px 5px 10px;
}
.blog-body {
  padding: 5px 10px 5px 10px;
}
.widget {
  padding: 0px;
}
.widget-header {
  padding: 5px 10px 5px 10px;
}
.widget-body {
  padding: 5px 10px 5px 10px;
}
main.column,
aside.column {
  padding: 0 !important;
}
.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}
.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}
@media (min-width: 723px) {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 1127px) {
  .main-wrapper {
    margin-left: 0px;
  }
  .aside-wrapper {
    margin-right: 0px;
  }
}
.widget-list {
  font-size: 13px !important;
}
.widget-list .item:hover {
  background: #fff176;
}
.widget-list .item:hover:before {
  color: #ffeb3b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
/*
 * Blog posts
 */
.blog-body {
  margin-bottom: 1rem;
}
.blog-header .title {
  margin-bottom: 0.25rem;
}
.blog-header .meta {
  margin-bottom: 2rem;
}
.blog-body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.blog-body img {
  max-width: 100%;
  height: auto;
}
.blog-header .title a {
  color: #424242;
}
.blog-header .title a:hover {
  color: #2196F3;
}
a.post-previous:after {
  content: " previous";
}
a.post-next:before {
  content: "next ";
}
.blog-body .pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
