.m-0 {
  margin: 0px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.p-0 {
  padding: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.g-red {
  background-color: #F44336 !important;
}
.g-red-text {
  color: #F44336 !important;
}
.g-red.lighten-5 {
  background-color: #FFEBEE !important;
}
.g-red-text.text-lighten-5 {
  color: #FFEBEE !important;
}
.g-red.lighten-4 {
  background-color: #FFCDD2 !important;
}
.g-red-text.text-lighten-4 {
  color: #FFCDD2 !important;
}
.g-red.lighten-3 {
  background-color: #EF9A9A !important;
}
.g-red-text.text-lighten-3 {
  color: #EF9A9A !important;
}
.g-red.lighten-2 {
  background-color: #E57373 !important;
}
.g-red-text.text-lighten-2 {
  color: #E57373 !important;
}
.g-red.lighten-1 {
  background-color: #EF5350 !important;
}
.g-red-text.text-lighten-1 {
  color: #EF5350 !important;
}
.g-red.darken-1 {
  background-color: #E53935 !important;
}
.g-red-text.text-darken-1 {
  color: #E53935 !important;
}
.g-red.darken-2 {
  background-color: #D32F2F !important;
}
.g-red-text.text-darken-2 {
  color: #D32F2F !important;
}
.g-red.darken-3 {
  background-color: #C62828 !important;
}
.g-red-text.text-darken-3 {
  color: #C62828 !important;
}
.g-red.darken-4 {
  background-color: #B71C1C !important;
}
.g-red-text.text-darken-4 {
  color: #B71C1C !important;
}
.g-red.accent-1 {
  background-color: #FF8A80 !important;
}
.g-red-text.text-accent-1 {
  color: #FF8A80 !important;
}
.g-red.accent-2 {
  background-color: #FF5252 !important;
}
.g-red-text.text-accent-2 {
  color: #FF5252 !important;
}
.g-red.accent-3 {
  background-color: #FF1744 !important;
}
.g-red-text.text-accent-3 {
  color: #FF1744 !important;
}
.g-red.accent-4 {
  background-color: #D50000 !important;
}
.g-red-text.text-accent-4 {
  color: #D50000 !important;
}
.g-pink {
  background-color: #e91e63 !important;
}
.g-pink-text {
  color: #e91e63 !important;
}
.g-pink.lighten-5 {
  background-color: #fce4ec !important;
}
.g-pink-text.text-lighten-5 {
  color: #fce4ec !important;
}
.g-pink.lighten-4 {
  background-color: #f8bbd0 !important;
}
.g-pink-text.text-lighten-4 {
  color: #f8bbd0 !important;
}
.g-pink.lighten-3 {
  background-color: #f48fb1 !important;
}
.g-pink-text.text-lighten-3 {
  color: #f48fb1 !important;
}
.g-pink.lighten-2 {
  background-color: #f06292 !important;
}
.g-pink-text.text-lighten-2 {
  color: #f06292 !important;
}
.g-pink.lighten-1 {
  background-color: #ec407a !important;
}
.g-pink-text.text-lighten-1 {
  color: #ec407a !important;
}
.g-pink.darken-1 {
  background-color: #d81b60 !important;
}
.g-pink-text.text-darken-1 {
  color: #d81b60 !important;
}
.g-pink.darken-2 {
  background-color: #c2185b !important;
}
.g-pink-text.text-darken-2 {
  color: #c2185b !important;
}
.g-pink.darken-3 {
  background-color: #ad1457 !important;
}
.g-pink-text.text-darken-3 {
  color: #ad1457 !important;
}
.g-pink.darken-4 {
  background-color: #880e4f !important;
}
.g-pink-text.text-darken-4 {
  color: #880e4f !important;
}
.g-pink.accent-1 {
  background-color: #ff80ab !important;
}
.g-pink-text.text-accent-1 {
  color: #ff80ab !important;
}
.g-pink.accent-2 {
  background-color: #ff4081 !important;
}
.g-pink-text.text-accent-2 {
  color: #ff4081 !important;
}
.g-pink.accent-3 {
  background-color: #f50057 !important;
}
.g-pink-text.text-accent-3 {
  color: #f50057 !important;
}
.g-pink.accent-4 {
  background-color: #c51162 !important;
}
.g-pink-text.text-accent-4 {
  color: #c51162 !important;
}
.g-purple {
  background-color: #9c27b0 !important;
}
.g-purple-text {
  color: #9c27b0 !important;
}
.g-purple.lighten-5 {
  background-color: #f3e5f5 !important;
}
.g-purple-text.text-lighten-5 {
  color: #f3e5f5 !important;
}
.g-purple.lighten-4 {
  background-color: #e1bee7 !important;
}
.g-purple-text.text-lighten-4 {
  color: #e1bee7 !important;
}
.g-purple.lighten-3 {
  background-color: #ce93d8 !important;
}
.g-purple-text.text-lighten-3 {
  color: #ce93d8 !important;
}
.g-purple.lighten-2 {
  background-color: #ba68c8 !important;
}
.g-purple-text.text-lighten-2 {
  color: #ba68c8 !important;
}
.g-purple.lighten-1 {
  background-color: #ab47bc !important;
}
.g-purple-text.text-lighten-1 {
  color: #ab47bc !important;
}
.g-purple.darken-1 {
  background-color: #8e24aa !important;
}
.g-purple-text.text-darken-1 {
  color: #8e24aa !important;
}
.g-purple.darken-2 {
  background-color: #7b1fa2 !important;
}
.g-purple-text.text-darken-2 {
  color: #7b1fa2 !important;
}
.g-purple.darken-3 {
  background-color: #6a1b9a !important;
}
.g-purple-text.text-darken-3 {
  color: #6a1b9a !important;
}
.g-purple.darken-4 {
  background-color: #4a148c !important;
}
.g-purple-text.text-darken-4 {
  color: #4a148c !important;
}
.g-purple.accent-1 {
  background-color: #ea80fc !important;
}
.g-purple-text.text-accent-1 {
  color: #ea80fc !important;
}
.g-purple.accent-2 {
  background-color: #e040fb !important;
}
.g-purple-text.text-accent-2 {
  color: #e040fb !important;
}
.g-purple.accent-3 {
  background-color: #d500f9 !important;
}
.g-purple-text.text-accent-3 {
  color: #d500f9 !important;
}
.g-purple.accent-4 {
  background-color: #aa00ff !important;
}
.g-purple-text.text-accent-4 {
  color: #aa00ff !important;
}
.g-deep-purple {
  background-color: #673ab7 !important;
}
.g-deep-purple-text {
  color: #673ab7 !important;
}
.g-deep-purple.lighten-5 {
  background-color: #ede7f6 !important;
}
.g-deep-purple-text.text-lighten-5 {
  color: #ede7f6 !important;
}
.g-deep-purple.lighten-4 {
  background-color: #d1c4e9 !important;
}
.g-deep-purple-text.text-lighten-4 {
  color: #d1c4e9 !important;
}
.g-deep-purple.lighten-3 {
  background-color: #b39ddb !important;
}
.g-deep-purple-text.text-lighten-3 {
  color: #b39ddb !important;
}
.g-deep-purple.lighten-2 {
  background-color: #9575cd !important;
}
.g-deep-purple-text.text-lighten-2 {
  color: #9575cd !important;
}
.g-deep-purple.lighten-1 {
  background-color: #7e57c2 !important;
}
.g-deep-purple-text.text-lighten-1 {
  color: #7e57c2 !important;
}
.g-deep-purple.darken-1 {
  background-color: #5e35b1 !important;
}
.g-deep-purple-text.text-darken-1 {
  color: #5e35b1 !important;
}
.g-deep-purple.darken-2 {
  background-color: #512da8 !important;
}
.g-deep-purple-text.text-darken-2 {
  color: #512da8 !important;
}
.g-deep-purple.darken-3 {
  background-color: #4527a0 !important;
}
.g-deep-purple-text.text-darken-3 {
  color: #4527a0 !important;
}
.g-deep-purple.darken-4 {
  background-color: #311b92 !important;
}
.g-deep-purple-text.text-darken-4 {
  color: #311b92 !important;
}
.g-deep-purple.accent-1 {
  background-color: #b388ff !important;
}
.g-deep-purple-text.text-accent-1 {
  color: #b388ff !important;
}
.g-deep-purple.accent-2 {
  background-color: #7c4dff !important;
}
.g-deep-purple-text.text-accent-2 {
  color: #7c4dff !important;
}
.g-deep-purple.accent-3 {
  background-color: #651fff !important;
}
.g-deep-purple-text.text-accent-3 {
  color: #651fff !important;
}
.g-deep-purple.accent-4 {
  background-color: #6200ea !important;
}
.g-deep-purple-text.text-accent-4 {
  color: #6200ea !important;
}
.g-indigo {
  background-color: #3f51b5 !important;
}
.g-indigo-text {
  color: #3f51b5 !important;
}
.g-indigo.lighten-5 {
  background-color: #e8eaf6 !important;
}
.g-indigo-text.text-lighten-5 {
  color: #e8eaf6 !important;
}
.g-indigo.lighten-4 {
  background-color: #c5cae9 !important;
}
.g-indigo-text.text-lighten-4 {
  color: #c5cae9 !important;
}
.g-indigo.lighten-3 {
  background-color: #9fa8da !important;
}
.g-indigo-text.text-lighten-3 {
  color: #9fa8da !important;
}
.g-indigo.lighten-2 {
  background-color: #7986cb !important;
}
.g-indigo-text.text-lighten-2 {
  color: #7986cb !important;
}
.g-indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}
.g-indigo-text.text-lighten-1 {
  color: #5c6bc0 !important;
}
.g-indigo.darken-1 {
  background-color: #3949ab !important;
}
.g-indigo-text.text-darken-1 {
  color: #3949ab !important;
}
.g-indigo.darken-2 {
  background-color: #303f9f !important;
}
.g-indigo-text.text-darken-2 {
  color: #303f9f !important;
}
.g-indigo.darken-3 {
  background-color: #283593 !important;
}
.g-indigo-text.text-darken-3 {
  color: #283593 !important;
}
.g-indigo.darken-4 {
  background-color: #1a237e !important;
}
.g-indigo-text.text-darken-4 {
  color: #1a237e !important;
}
.g-indigo.accent-1 {
  background-color: #8c9eff !important;
}
.g-indigo-text.text-accent-1 {
  color: #8c9eff !important;
}
.g-indigo.accent-2 {
  background-color: #536dfe !important;
}
.g-indigo-text.text-accent-2 {
  color: #536dfe !important;
}
.g-indigo.accent-3 {
  background-color: #3d5afe !important;
}
.g-indigo-text.text-accent-3 {
  color: #3d5afe !important;
}
.g-indigo.accent-4 {
  background-color: #304ffe !important;
}
.g-indigo-text.text-accent-4 {
  color: #304ffe !important;
}
.g-blue {
  background-color: #2196F3 !important;
}
.g-blue-text {
  color: #2196F3 !important;
}
.g-blue.lighten-5 {
  background-color: #E3F2FD !important;
}
.g-blue-text.text-lighten-5 {
  color: #E3F2FD !important;
}
.g-blue.lighten-4 {
  background-color: #BBDEFB !important;
}
.g-blue-text.text-lighten-4 {
  color: #BBDEFB !important;
}
.g-blue.lighten-3 {
  background-color: #90CAF9 !important;
}
.g-blue-text.text-lighten-3 {
  color: #90CAF9 !important;
}
.g-blue.lighten-2 {
  background-color: #64B5F6 !important;
}
.g-blue-text.text-lighten-2 {
  color: #64B5F6 !important;
}
.g-blue.lighten-1 {
  background-color: #42A5F5 !important;
}
.g-blue-text.text-lighten-1 {
  color: #42A5F5 !important;
}
.g-blue.darken-1 {
  background-color: #1E88E5 !important;
}
.g-blue-text.text-darken-1 {
  color: #1E88E5 !important;
}
.g-blue.darken-2 {
  background-color: #1976D2 !important;
}
.g-blue-text.text-darken-2 {
  color: #1976D2 !important;
}
.g-blue.darken-3 {
  background-color: #1565C0 !important;
}
.g-blue-text.text-darken-3 {
  color: #1565C0 !important;
}
.g-blue.darken-4 {
  background-color: #0D47A1 !important;
}
.g-blue-text.text-darken-4 {
  color: #0D47A1 !important;
}
.g-blue.accent-1 {
  background-color: #82B1FF !important;
}
.g-blue-text.text-accent-1 {
  color: #82B1FF !important;
}
.g-blue.accent-2 {
  background-color: #448AFF !important;
}
.g-blue-text.text-accent-2 {
  color: #448AFF !important;
}
.g-blue.accent-3 {
  background-color: #2979FF !important;
}
.g-blue-text.text-accent-3 {
  color: #2979FF !important;
}
.g-blue.accent-4 {
  background-color: #2962FF !important;
}
.g-blue-text.text-accent-4 {
  color: #2962FF !important;
}
.g-light-blue {
  background-color: #03a9f4 !important;
}
.g-light-blue-text {
  color: #03a9f4 !important;
}
.g-light-blue.lighten-5 {
  background-color: #e1f5fe !important;
}
.g-light-blue-text.text-lighten-5 {
  color: #e1f5fe !important;
}
.g-light-blue.lighten-4 {
  background-color: #b3e5fc !important;
}
.g-light-blue-text.text-lighten-4 {
  color: #b3e5fc !important;
}
.g-light-blue.lighten-3 {
  background-color: #81d4fa !important;
}
.g-light-blue-text.text-lighten-3 {
  color: #81d4fa !important;
}
.g-light-blue.lighten-2 {
  background-color: #4fc3f7 !important;
}
.g-light-blue-text.text-lighten-2 {
  color: #4fc3f7 !important;
}
.g-light-blue.lighten-1 {
  background-color: #29b6f6 !important;
}
.g-light-blue-text.text-lighten-1 {
  color: #29b6f6 !important;
}
.g-light-blue.darken-1 {
  background-color: #039be5 !important;
}
.g-light-blue-text.text-darken-1 {
  color: #039be5 !important;
}
.g-light-blue.darken-2 {
  background-color: #0288d1 !important;
}
.g-light-blue-text.text-darken-2 {
  color: #0288d1 !important;
}
.g-light-blue.darken-3 {
  background-color: #0277bd !important;
}
.g-light-blue-text.text-darken-3 {
  color: #0277bd !important;
}
.g-light-blue.darken-4 {
  background-color: #01579b !important;
}
.g-light-blue-text.text-darken-4 {
  color: #01579b !important;
}
.g-light-blue.accent-1 {
  background-color: #80d8ff !important;
}
.g-light-blue-text.text-accent-1 {
  color: #80d8ff !important;
}
.g-light-blue.accent-2 {
  background-color: #40c4ff !important;
}
.g-light-blue-text.text-accent-2 {
  color: #40c4ff !important;
}
.g-light-blue.accent-3 {
  background-color: #00b0ff !important;
}
.g-light-blue-text.text-accent-3 {
  color: #00b0ff !important;
}
.g-light-blue.accent-4 {
  background-color: #0091ea !important;
}
.g-light-blue-text.text-accent-4 {
  color: #0091ea !important;
}
.g-cyan {
  background-color: #00bcd4 !important;
}
.g-cyan-text {
  color: #00bcd4 !important;
}
.g-cyan.lighten-5 {
  background-color: #e0f7fa !important;
}
.g-cyan-text.text-lighten-5 {
  color: #e0f7fa !important;
}
.g-cyan.lighten-4 {
  background-color: #b2ebf2 !important;
}
.g-cyan-text.text-lighten-4 {
  color: #b2ebf2 !important;
}
.g-cyan.lighten-3 {
  background-color: #80deea !important;
}
.g-cyan-text.text-lighten-3 {
  color: #80deea !important;
}
.g-cyan.lighten-2 {
  background-color: #4dd0e1 !important;
}
.g-cyan-text.text-lighten-2 {
  color: #4dd0e1 !important;
}
.g-cyan.lighten-1 {
  background-color: #26c6da !important;
}
.g-cyan-text.text-lighten-1 {
  color: #26c6da !important;
}
.g-cyan.darken-1 {
  background-color: #00acc1 !important;
}
.g-cyan-text.text-darken-1 {
  color: #00acc1 !important;
}
.g-cyan.darken-2 {
  background-color: #0097a7 !important;
}
.g-cyan-text.text-darken-2 {
  color: #0097a7 !important;
}
.g-cyan.darken-3 {
  background-color: #00838f !important;
}
.g-cyan-text.text-darken-3 {
  color: #00838f !important;
}
.g-cyan.darken-4 {
  background-color: #006064 !important;
}
.g-cyan-text.text-darken-4 {
  color: #006064 !important;
}
.g-cyan.accent-1 {
  background-color: #84ffff !important;
}
.g-cyan-text.text-accent-1 {
  color: #84ffff !important;
}
.g-cyan.accent-2 {
  background-color: #18ffff !important;
}
.g-cyan-text.text-accent-2 {
  color: #18ffff !important;
}
.g-cyan.accent-3 {
  background-color: #00e5ff !important;
}
.g-cyan-text.text-accent-3 {
  color: #00e5ff !important;
}
.g-cyan.accent-4 {
  background-color: #00b8d4 !important;
}
.g-cyan-text.text-accent-4 {
  color: #00b8d4 !important;
}
.g-teal {
  background-color: #009688 !important;
}
.g-teal-text {
  color: #009688 !important;
}
.g-teal.lighten-5 {
  background-color: #e0f2f1 !important;
}
.g-teal-text.text-lighten-5 {
  color: #e0f2f1 !important;
}
.g-teal.lighten-4 {
  background-color: #b2dfdb !important;
}
.g-teal-text.text-lighten-4 {
  color: #b2dfdb !important;
}
.g-teal.lighten-3 {
  background-color: #80cbc4 !important;
}
.g-teal-text.text-lighten-3 {
  color: #80cbc4 !important;
}
.g-teal.lighten-2 {
  background-color: #4db6ac !important;
}
.g-teal-text.text-lighten-2 {
  color: #4db6ac !important;
}
.g-teal.lighten-1 {
  background-color: #26a69a !important;
}
.g-teal-text.text-lighten-1 {
  color: #26a69a !important;
}
.g-teal.darken-1 {
  background-color: #00897b !important;
}
.g-teal-text.text-darken-1 {
  color: #00897b !important;
}
.g-teal.darken-2 {
  background-color: #00796b !important;
}
.g-teal-text.text-darken-2 {
  color: #00796b !important;
}
.g-teal.darken-3 {
  background-color: #00695c !important;
}
.g-teal-text.text-darken-3 {
  color: #00695c !important;
}
.g-teal.darken-4 {
  background-color: #004d40 !important;
}
.g-teal-text.text-darken-4 {
  color: #004d40 !important;
}
.g-teal.accent-1 {
  background-color: #a7ffeb !important;
}
.g-teal-text.text-accent-1 {
  color: #a7ffeb !important;
}
.g-teal.accent-2 {
  background-color: #64ffda !important;
}
.g-teal-text.text-accent-2 {
  color: #64ffda !important;
}
.g-teal.accent-3 {
  background-color: #1de9b6 !important;
}
.g-teal-text.text-accent-3 {
  color: #1de9b6 !important;
}
.g-teal.accent-4 {
  background-color: #00bfa5 !important;
}
.g-teal-text.text-accent-4 {
  color: #00bfa5 !important;
}
.g-green {
  background-color: #4CAF50 !important;
}
.g-green-text {
  color: #4CAF50 !important;
}
.g-green.lighten-5 {
  background-color: #E8F5E9 !important;
}
.g-green-text.text-lighten-5 {
  color: #E8F5E9 !important;
}
.g-green.lighten-4 {
  background-color: #C8E6C9 !important;
}
.g-green-text.text-lighten-4 {
  color: #C8E6C9 !important;
}
.g-green.lighten-3 {
  background-color: #A5D6A7 !important;
}
.g-green-text.text-lighten-3 {
  color: #A5D6A7 !important;
}
.g-green.lighten-2 {
  background-color: #81C784 !important;
}
.g-green-text.text-lighten-2 {
  color: #81C784 !important;
}
.g-green.lighten-1 {
  background-color: #66BB6A !important;
}
.g-green-text.text-lighten-1 {
  color: #66BB6A !important;
}
.g-green.darken-1 {
  background-color: #43A047 !important;
}
.g-green-text.text-darken-1 {
  color: #43A047 !important;
}
.g-green.darken-2 {
  background-color: #388E3C !important;
}
.g-green-text.text-darken-2 {
  color: #388E3C !important;
}
.g-green.darken-3 {
  background-color: #2E7D32 !important;
}
.g-green-text.text-darken-3 {
  color: #2E7D32 !important;
}
.g-green.darken-4 {
  background-color: #1B5E20 !important;
}
.g-green-text.text-darken-4 {
  color: #1B5E20 !important;
}
.g-green.accent-1 {
  background-color: #B9F6CA !important;
}
.g-green-text.text-accent-1 {
  color: #B9F6CA !important;
}
.g-green.accent-2 {
  background-color: #69F0AE !important;
}
.g-green-text.text-accent-2 {
  color: #69F0AE !important;
}
.g-green.accent-3 {
  background-color: #00E676 !important;
}
.g-green-text.text-accent-3 {
  color: #00E676 !important;
}
.g-green.accent-4 {
  background-color: #00C853 !important;
}
.g-green-text.text-accent-4 {
  color: #00C853 !important;
}
.g-light-green {
  background-color: #8bc34a !important;
}
.g-light-green-text {
  color: #8bc34a !important;
}
.g-light-green.lighten-5 {
  background-color: #f1f8e9 !important;
}
.g-light-green-text.text-lighten-5 {
  color: #f1f8e9 !important;
}
.g-light-green.lighten-4 {
  background-color: #dcedc8 !important;
}
.g-light-green-text.text-lighten-4 {
  color: #dcedc8 !important;
}
.g-light-green.lighten-3 {
  background-color: #c5e1a5 !important;
}
.g-light-green-text.text-lighten-3 {
  color: #c5e1a5 !important;
}
.g-light-green.lighten-2 {
  background-color: #aed581 !important;
}
.g-light-green-text.text-lighten-2 {
  color: #aed581 !important;
}
.g-light-green.lighten-1 {
  background-color: #9ccc65 !important;
}
.g-light-green-text.text-lighten-1 {
  color: #9ccc65 !important;
}
.g-light-green.darken-1 {
  background-color: #7cb342 !important;
}
.g-light-green-text.text-darken-1 {
  color: #7cb342 !important;
}
.g-light-green.darken-2 {
  background-color: #689f38 !important;
}
.g-light-green-text.text-darken-2 {
  color: #689f38 !important;
}
.g-light-green.darken-3 {
  background-color: #558b2f !important;
}
.g-light-green-text.text-darken-3 {
  color: #558b2f !important;
}
.g-light-green.darken-4 {
  background-color: #33691e !important;
}
.g-light-green-text.text-darken-4 {
  color: #33691e !important;
}
.g-light-green.accent-1 {
  background-color: #ccff90 !important;
}
.g-light-green-text.text-accent-1 {
  color: #ccff90 !important;
}
.g-light-green.accent-2 {
  background-color: #b2ff59 !important;
}
.g-light-green-text.text-accent-2 {
  color: #b2ff59 !important;
}
.g-light-green.accent-3 {
  background-color: #76ff03 !important;
}
.g-light-green-text.text-accent-3 {
  color: #76ff03 !important;
}
.g-light-green.accent-4 {
  background-color: #64dd17 !important;
}
.g-light-green-text.text-accent-4 {
  color: #64dd17 !important;
}
.g-lime {
  background-color: #cddc39 !important;
}
.g-lime-text {
  color: #cddc39 !important;
}
.g-lime.lighten-5 {
  background-color: #f9fbe7 !important;
}
.g-lime-text.text-lighten-5 {
  color: #f9fbe7 !important;
}
.g-lime.lighten-4 {
  background-color: #f0f4c3 !important;
}
.g-lime-text.text-lighten-4 {
  color: #f0f4c3 !important;
}
.g-lime.lighten-3 {
  background-color: #e6ee9c !important;
}
.g-lime-text.text-lighten-3 {
  color: #e6ee9c !important;
}
.g-lime.lighten-2 {
  background-color: #dce775 !important;
}
.g-lime-text.text-lighten-2 {
  color: #dce775 !important;
}
.g-lime.lighten-1 {
  background-color: #d4e157 !important;
}
.g-lime-text.text-lighten-1 {
  color: #d4e157 !important;
}
.g-lime.darken-1 {
  background-color: #c0ca33 !important;
}
.g-lime-text.text-darken-1 {
  color: #c0ca33 !important;
}
.g-lime.darken-2 {
  background-color: #afb42b !important;
}
.g-lime-text.text-darken-2 {
  color: #afb42b !important;
}
.g-lime.darken-3 {
  background-color: #9e9d24 !important;
}
.g-lime-text.text-darken-3 {
  color: #9e9d24 !important;
}
.g-lime.darken-4 {
  background-color: #827717 !important;
}
.g-lime-text.text-darken-4 {
  color: #827717 !important;
}
.g-lime.accent-1 {
  background-color: #f4ff81 !important;
}
.g-lime-text.text-accent-1 {
  color: #f4ff81 !important;
}
.g-lime.accent-2 {
  background-color: #eeff41 !important;
}
.g-lime-text.text-accent-2 {
  color: #eeff41 !important;
}
.g-lime.accent-3 {
  background-color: #c6ff00 !important;
}
.g-lime-text.text-accent-3 {
  color: #c6ff00 !important;
}
.g-lime.accent-4 {
  background-color: #aeea00 !important;
}
.g-lime-text.text-accent-4 {
  color: #aeea00 !important;
}
.g-yellow {
  background-color: #ffeb3b !important;
}
.g-yellow-text {
  color: #ffeb3b !important;
}
.g-yellow.lighten-5 {
  background-color: #fffde7 !important;
}
.g-yellow-text.text-lighten-5 {
  color: #fffde7 !important;
}
.g-yellow.lighten-4 {
  background-color: #fff9c4 !important;
}
.g-yellow-text.text-lighten-4 {
  color: #fff9c4 !important;
}
.g-yellow.lighten-3 {
  background-color: #fff59d !important;
}
.g-yellow-text.text-lighten-3 {
  color: #fff59d !important;
}
.g-yellow.lighten-2 {
  background-color: #fff176 !important;
}
.g-yellow-text.text-lighten-2 {
  color: #fff176 !important;
}
.g-yellow.lighten-1 {
  background-color: #ffee58 !important;
}
.g-yellow-text.text-lighten-1 {
  color: #ffee58 !important;
}
.g-yellow.darken-1 {
  background-color: #fdd835 !important;
}
.g-yellow-text.text-darken-1 {
  color: #fdd835 !important;
}
.g-yellow.darken-2 {
  background-color: #fbc02d !important;
}
.g-yellow-text.text-darken-2 {
  color: #fbc02d !important;
}
.g-yellow.darken-3 {
  background-color: #f9a825 !important;
}
.g-yellow-text.text-darken-3 {
  color: #f9a825 !important;
}
.g-yellow.darken-4 {
  background-color: #f57f17 !important;
}
.g-yellow-text.text-darken-4 {
  color: #f57f17 !important;
}
.g-yellow.accent-1 {
  background-color: #ffff8d !important;
}
.g-yellow-text.text-accent-1 {
  color: #ffff8d !important;
}
.g-yellow.accent-2 {
  background-color: #ffff00 !important;
}
.g-yellow-text.text-accent-2 {
  color: #ffff00 !important;
}
.g-yellow.accent-3 {
  background-color: #ffea00 !important;
}
.g-yellow-text.text-accent-3 {
  color: #ffea00 !important;
}
.g-yellow.accent-4 {
  background-color: #ffd600 !important;
}
.g-yellow-text.text-accent-4 {
  color: #ffd600 !important;
}
.g-amber {
  background-color: #ffc107 !important;
}
.g-amber-text {
  color: #ffc107 !important;
}
.g-amber.lighten-5 {
  background-color: #fff8e1 !important;
}
.g-amber-text.text-lighten-5 {
  color: #fff8e1 !important;
}
.g-amber.lighten-4 {
  background-color: #ffecb3 !important;
}
.g-amber-text.text-lighten-4 {
  color: #ffecb3 !important;
}
.g-amber.lighten-3 {
  background-color: #ffe082 !important;
}
.g-amber-text.text-lighten-3 {
  color: #ffe082 !important;
}
.g-amber.lighten-2 {
  background-color: #ffd54f !important;
}
.g-amber-text.text-lighten-2 {
  color: #ffd54f !important;
}
.g-amber.lighten-1 {
  background-color: #ffca28 !important;
}
.g-amber-text.text-lighten-1 {
  color: #ffca28 !important;
}
.g-amber.darken-1 {
  background-color: #ffb300 !important;
}
.g-amber-text.text-darken-1 {
  color: #ffb300 !important;
}
.g-amber.darken-2 {
  background-color: #ffa000 !important;
}
.g-amber-text.text-darken-2 {
  color: #ffa000 !important;
}
.g-amber.darken-3 {
  background-color: #ff8f00 !important;
}
.g-amber-text.text-darken-3 {
  color: #ff8f00 !important;
}
.g-amber.darken-4 {
  background-color: #ff6f00 !important;
}
.g-amber-text.text-darken-4 {
  color: #ff6f00 !important;
}
.g-amber.accent-1 {
  background-color: #ffe57f !important;
}
.g-amber-text.text-accent-1 {
  color: #ffe57f !important;
}
.g-amber.accent-2 {
  background-color: #ffd740 !important;
}
.g-amber-text.text-accent-2 {
  color: #ffd740 !important;
}
.g-amber.accent-3 {
  background-color: #ffc400 !important;
}
.g-amber-text.text-accent-3 {
  color: #ffc400 !important;
}
.g-amber.accent-4 {
  background-color: #ffab00 !important;
}
.g-amber-text.text-accent-4 {
  color: #ffab00 !important;
}
.g-orange {
  background-color: #ff9800 !important;
}
.g-orange-text {
  color: #ff9800 !important;
}
.g-orange.lighten-5 {
  background-color: #fff3e0 !important;
}
.g-orange-text.text-lighten-5 {
  color: #fff3e0 !important;
}
.g-orange.lighten-4 {
  background-color: #ffe0b2 !important;
}
.g-orange-text.text-lighten-4 {
  color: #ffe0b2 !important;
}
.g-orange.lighten-3 {
  background-color: #ffcc80 !important;
}
.g-orange-text.text-lighten-3 {
  color: #ffcc80 !important;
}
.g-orange.lighten-2 {
  background-color: #ffb74d !important;
}
.g-orange-text.text-lighten-2 {
  color: #ffb74d !important;
}
.g-orange.lighten-1 {
  background-color: #ffa726 !important;
}
.g-orange-text.text-lighten-1 {
  color: #ffa726 !important;
}
.g-orange.darken-1 {
  background-color: #fb8c00 !important;
}
.g-orange-text.text-darken-1 {
  color: #fb8c00 !important;
}
.g-orange.darken-2 {
  background-color: #f57c00 !important;
}
.g-orange-text.text-darken-2 {
  color: #f57c00 !important;
}
.g-orange.darken-3 {
  background-color: #ef6c00 !important;
}
.g-orange-text.text-darken-3 {
  color: #ef6c00 !important;
}
.g-orange.darken-4 {
  background-color: #e65100 !important;
}
.g-orange-text.text-darken-4 {
  color: #e65100 !important;
}
.g-orange.accent-1 {
  background-color: #ffd180 !important;
}
.g-orange-text.text-accent-1 {
  color: #ffd180 !important;
}
.g-orange.accent-2 {
  background-color: #ffab40 !important;
}
.g-orange-text.text-accent-2 {
  color: #ffab40 !important;
}
.g-orange.accent-3 {
  background-color: #ff9100 !important;
}
.g-orange-text.text-accent-3 {
  color: #ff9100 !important;
}
.g-orange.accent-4 {
  background-color: #ff6d00 !important;
}
.g-orange-text.text-accent-4 {
  color: #ff6d00 !important;
}
.g-deep-orange {
  background-color: #ff5722 !important;
}
.g-deep-orange-text {
  color: #ff5722 !important;
}
.g-deep-orange.lighten-5 {
  background-color: #fbe9e7 !important;
}
.g-deep-orange-text.text-lighten-5 {
  color: #fbe9e7 !important;
}
.g-deep-orange.lighten-4 {
  background-color: #ffccbc !important;
}
.g-deep-orange-text.text-lighten-4 {
  color: #ffccbc !important;
}
.g-deep-orange.lighten-3 {
  background-color: #ffab91 !important;
}
.g-deep-orange-text.text-lighten-3 {
  color: #ffab91 !important;
}
.g-deep-orange.lighten-2 {
  background-color: #ff8a65 !important;
}
.g-deep-orange-text.text-lighten-2 {
  color: #ff8a65 !important;
}
.g-deep-orange.lighten-1 {
  background-color: #ff7043 !important;
}
.g-deep-orange-text.text-lighten-1 {
  color: #ff7043 !important;
}
.g-deep-orange.darken-1 {
  background-color: #f4511e !important;
}
.g-deep-orange-text.text-darken-1 {
  color: #f4511e !important;
}
.g-deep-orange.darken-2 {
  background-color: #e64a19 !important;
}
.g-deep-orange-text.text-darken-2 {
  color: #e64a19 !important;
}
.g-deep-orange.darken-3 {
  background-color: #d84315 !important;
}
.g-deep-orange-text.text-darken-3 {
  color: #d84315 !important;
}
.g-deep-orange.darken-4 {
  background-color: #bf360c !important;
}
.g-deep-orange-text.text-darken-4 {
  color: #bf360c !important;
}
.g-deep-orange.accent-1 {
  background-color: #ff9e80 !important;
}
.g-deep-orange-text.text-accent-1 {
  color: #ff9e80 !important;
}
.g-deep-orange.accent-2 {
  background-color: #ff6e40 !important;
}
.g-deep-orange-text.text-accent-2 {
  color: #ff6e40 !important;
}
.g-deep-orange.accent-3 {
  background-color: #ff3d00 !important;
}
.g-deep-orange-text.text-accent-3 {
  color: #ff3d00 !important;
}
.g-deep-orange.accent-4 {
  background-color: #dd2c00 !important;
}
.g-deep-orange-text.text-accent-4 {
  color: #dd2c00 !important;
}
.g-brown {
  background-color: #795548 !important;
}
.g-brown-text {
  color: #795548 !important;
}
.g-brown.lighten-5 {
  background-color: #efebe9 !important;
}
.g-brown-text.text-lighten-5 {
  color: #efebe9 !important;
}
.g-brown.lighten-4 {
  background-color: #d7ccc8 !important;
}
.g-brown-text.text-lighten-4 {
  color: #d7ccc8 !important;
}
.g-brown.lighten-3 {
  background-color: #bcaaa4 !important;
}
.g-brown-text.text-lighten-3 {
  color: #bcaaa4 !important;
}
.g-brown.lighten-2 {
  background-color: #a1887f !important;
}
.g-brown-text.text-lighten-2 {
  color: #a1887f !important;
}
.g-brown.lighten-1 {
  background-color: #8d6e63 !important;
}
.g-brown-text.text-lighten-1 {
  color: #8d6e63 !important;
}
.g-brown.darken-1 {
  background-color: #6d4c41 !important;
}
.g-brown-text.text-darken-1 {
  color: #6d4c41 !important;
}
.g-brown.darken-2 {
  background-color: #5d4037 !important;
}
.g-brown-text.text-darken-2 {
  color: #5d4037 !important;
}
.g-brown.darken-3 {
  background-color: #4e342e !important;
}
.g-brown-text.text-darken-3 {
  color: #4e342e !important;
}
.g-brown.darken-4 {
  background-color: #3e2723 !important;
}
.g-brown-text.text-darken-4 {
  color: #3e2723 !important;
}
.g-blue-grey {
  background-color: #607d8b !important;
}
.g-blue-grey-text {
  color: #607d8b !important;
}
.g-blue-grey.lighten-5 {
  background-color: #eceff1 !important;
}
.g-blue-grey-text.text-lighten-5 {
  color: #eceff1 !important;
}
.g-blue-grey.lighten-4 {
  background-color: #cfd8dc !important;
}
.g-blue-grey-text.text-lighten-4 {
  color: #cfd8dc !important;
}
.g-blue-grey.lighten-3 {
  background-color: #b0bec5 !important;
}
.g-blue-grey-text.text-lighten-3 {
  color: #b0bec5 !important;
}
.g-blue-grey.lighten-2 {
  background-color: #90a4ae !important;
}
.g-blue-grey-text.text-lighten-2 {
  color: #90a4ae !important;
}
.g-blue-grey.lighten-1 {
  background-color: #78909c !important;
}
.g-blue-grey-text.text-lighten-1 {
  color: #78909c !important;
}
.g-blue-grey.darken-1 {
  background-color: #546e7a !important;
}
.g-blue-grey-text.text-darken-1 {
  color: #546e7a !important;
}
.g-blue-grey.darken-2 {
  background-color: #455a64 !important;
}
.g-blue-grey-text.text-darken-2 {
  color: #455a64 !important;
}
.g-blue-grey.darken-3 {
  background-color: #37474f !important;
}
.g-blue-grey-text.text-darken-3 {
  color: #37474f !important;
}
.g-blue-grey.darken-4 {
  background-color: #263238 !important;
}
.g-blue-grey-text.text-darken-4 {
  color: #263238 !important;
}
.g-grey {
  background-color: #9e9e9e !important;
}
.g-grey-text {
  color: #9e9e9e !important;
}
.g-grey.lighten-5 {
  background-color: #fafafa !important;
}
.g-grey-text.text-lighten-5 {
  color: #fafafa !important;
}
.g-grey.lighten-4 {
  background-color: #f5f5f5 !important;
}
.g-grey-text.text-lighten-4 {
  color: #f5f5f5 !important;
}
.g-grey.lighten-3 {
  background-color: #eeeeee !important;
}
.g-grey-text.text-lighten-3 {
  color: #eeeeee !important;
}
.g-grey.lighten-2 {
  background-color: #e0e0e0 !important;
}
.g-grey-text.text-lighten-2 {
  color: #e0e0e0 !important;
}
.g-grey.lighten-1 {
  background-color: #bdbdbd !important;
}
.g-grey-text.text-lighten-1 {
  color: #bdbdbd !important;
}
.g-grey.darken-1 {
  background-color: #757575 !important;
}
.g-grey-text.text-darken-1 {
  color: #757575 !important;
}
.g-grey.darken-2 {
  background-color: #616161 !important;
}
.g-grey-text.text-darken-2 {
  color: #616161 !important;
}
.g-grey.darken-3 {
  background-color: #424242 !important;
}
.g-grey-text.text-darken-3 {
  color: #424242 !important;
}
.g-grey.darken-4 {
  background-color: #212121 !important;
}
.g-grey-text.text-darken-4 {
  color: #212121 !important;
}
.g-black {
  background-color: #000000 !important;
}
.g-black-text {
  color: #000000 !important;
}
.g-white {
  background-color: #FFFFFF !important;
}
.g-white-text {
  color: #FFFFFF !important;
}
.g-transparent {
  background-color: transparent !important;
}
.g-transparent-text {
  color: transparent !important;
}
.z-depth-0 {
  box-shadow: none !important;
}
/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
/* 6dp elevation modified*/
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
/* 16dp elevation */
.z-depth-4 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
/* 24dp elevation */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.hoverable {
  transition: box-shadow 0.25s;
}
.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
