/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#base-layout {
  flex: 1 0 auto;
}
/* https://ehkoo.github.io/semantic-ui-examples/navbar/ */
.ui.navbar {
  margin-top: 0px !important;
}
.padding-reset {
  padding: 0px !important;
}
.ui.vertical.menu {
  margin-top: 50px !important;
  width: 100%;
  display: none;
}
/* own custom */
.maxwidth {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1088px) {
  .maxwidth {
    max-width: 1366px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #2196F3;
}
#base-layout {
  padding-top: 5rem;
}
#site-footer {
  padding-top: 3rem;
}
