// -- -- -- -- --
// _post-navigation.sass

a.post-previous:after {
    content: " previous";
}
a.post-next:before {
    content: "next ";
}
.blog-body .pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
